<div class="row">
  <div class="form-new-service">
    <div class="col-xs-12 col-sm-6">
      <%= simple_form_for(@service) do |f| %>
      <%=f.error_notification  %>

      <div class="form-group booking-page">
        <%= f.label "Name" %>
        <%= f.input :name, label: false%>
      </div>


      <div class="form-group booking-page">
        <%= f.label "Description" %>
        <%= f.input :description, label: false%>
      </div>
      <div class="form-group booking-page">
        <%= f.label "Price" %>
        <%= f.input :price, label: false%>
      </div>
      <div class="validate-service">
        <%= f.select :category, ["Government Departments", "Forms", "Trips", "Health and Diet", "Neighborhoods"] %>
        <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
  </div>

</div>

