<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <h2>Name : <%= @service.name.capitalize %></h2>
      <h3>Description : <%= @service.description.capitalize %></h3>
      <h3>Category : <%= @service.category %> </h3>
      <h3>Price : <%= @service.price %> $</h3>
      <%= link_to "Return to Menu", services_path %>
      <%= link_to "Make Booking", new_service_booking_path(@service) %>
      <%= link_to "Delete this Service", service_path(@service), method: :delete , class: "btn btn-danger"  %>
      <%= link_to "Edit", edit_service_path(@service), class: "btn btn-info" %>
    </div>
  </div>
</div>
