
<p>Selected Service:</p>
<li>Category: <%= @service.category %></li>
<li>Descrilition: <%= @service.description %></li>
<li>Service ID: <%= @service.id %></li>
<br>
<br>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= simple_form_for [@service, @booking] do |b| %>
        <%= b.label :time, 'Please set a time' %>
        <%= b.input :time, :collection => %w[0:00 0:15 0:30 0:45 1:00 1:15 1:30 1:45 2:00 2:15 2:30 2:45 3:00 3:15 3:30 3:45 4:00 4:15 4:30 4:45 5:00 5:15 5:30 5:45 6:00 6:15 6:30 6:45 7:00 7:15 7:30 8:00 8:15 8.30 8:45 9:00 9:15 9:30 9:45 ] %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= b.label :description, 'Please enter the description' %>
      <%= b.text_field :description %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
      <%= b.submit "Create Booking", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>

