<div class="wrapper-bookings">
  <div class="flex-container">

    <!-- CARD -->

            <div class="card-category-bookings" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @service.category %>')">
              <div class="card-name-bookings">
                <h3><%= @service.category %></h3>
              </div>
              <div class="card-content-bookings">
                 <p> <%= @service.description %></p>
                <img class="avatar-card" src='https://kitt.lewagon.com/placeholder/users/cveneziani'/>
              </div>
            </div>



  <!-- INFO -->

    <div class="flex-body">
      <p><strong>Description:</strong></p>
      <p class="make-booking"> <%= @service.description %></p>
      <p><strong>Category:</strong></p>
      <p class="make-booking"> <%= @service.category %></p>
      <p><strong>Mench Name:</strong></p>
      <p class="make-booking"> <%= @service.user.name %></p>
    </div>

  </div>

  <div class="flex-body">

  <!-- TIME -->

    <%= simple_form_for [@service, @booking] do |b| %>
    <%= b.input :time, label: "What time do you need the service?", label_html: { class: "make-booking-label" }, as: :date_time_picker, input_html:
    { data:{
    date_format: "YYYY.MM.DD hh:mm A",
    date_day_view_header_format: 'MMM YYYY',
    date_side_by_side: true,
    date_min_date: Time.current.strftime('%Y-%m-%d')
    }}%>

  </div>

  <div class="flex-body">

  <!-- MESSAGE -->

    <%= b.input :description, label: "Send a Message to your Mench", input_html: { 'rows' => 5, 'cols' => 1 }, class: "form_control" %>
    <%= b.submit "Create Booking", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
