<% if @my_bookings.empty? %>
<h2>Your Bookings Summary</h2>
<h5> You don't have any bookings! </h5>
<%= image_tag("mench.jpeg", size: "400") %>
<% else %>
<h2>Your Bookings Summary</h2>
<div class="container">
  <div class="row">
    <% @my_bookings.each do |booking| %>
    <div class="col-xs-12 col-sm-6 col-md-4" style="padding: 10px">
      <%= link_to booking_path(booking) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random')">
        <div class="card-content">
          <%= booking.time %>
          <h3><%= booking.description %></h3>
        </div>
        <img class="avatar" src='https://kitt.lewagon.com/placeholder/users/cveneziani'/>
      </div>
        <p><%= link_to 'Delete this booking', booking_path(@my_bookings.first), method: :delete, class: "btn btn-primary" %></p>
      <% end %>
    </div>
    <%end %>
  </div>
</div>
<% end %>

