<% if @my_bookings.empty? %>
<h2>Your Bookings Summary</h2>
<h5> You don't have any bookings!</h5><br>
<h5><%= image_tag("mench.jpeg", size: "400") %> </h5>
<% else %>

  <% @my_bookings.each do |booking| %>
    <div class="card-product">
      <img src=<%= cl_image_path booking.service.category %>>
      <div class="card-product-infos">
        <%= link_to booking_path(booking) do %>
          <h2 class="align-left"><%=booking.service.name%></h2>
        <% end %>
        <p><%= booking.description %></p>
        <p>Your Mench is: <strong><%= booking.service.user.name %>!</strong></p>
      </div>
      <div>
        <%= link_to "Cancel", booking_path(booking), method: :delete , class: "btn btn-delete"  %>
        <br><br>
        <p class="approved"><%= booking.status %></p>
      </div>
    </div>
  <% end %>
  <% end %>
</div>




